*{
  margin:0;
  padding:0;
}
.body{
  height: 100%;
  width:100%;
  display: table;
}
.box{
  background-color: blueviolet;
  height: 550px;
  max-width: 350px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  margin:auto;
  margin-top: 25px;
}